body {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  display: -ms-flexbox;
  display: flex;
  
}

.txt {
  line-height: 200%;
}

header {
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

